<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState mode="InProc" timeout="60"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="BlogEntities" connectionString="metadata=res://*/BlogEntity.csdl|res://*/BlogEntity.ssdl|res://*/BlogEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=emrhmrcblog.mssql.somee.com;Initial Catalog=emrhmrcblog;Persist Security Info=True;User ID=emirogs_SQLLogin_1 ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
   
  </connectionStrings>
  <appSettings>
    <add key="SystemCode" value="5tCEOy6YY2QhGpejxKx0O8O2gyXUBkg72jqfI0weUe/QCDSPPf9kOfs7PxSOFofSfW2aK/wb9rc6pAnpb9pBmg=="/>
    <add key="TablePrefix" value=""/>
    <!--<add key="LOGINURL" value="http://www.Blog.com/Login" />-->
    <add key="LOGINURL" value="http://psikoblog.somee.com/NewLogin"/>
    <add key="DBType" value="MSSql"/>
    <add key="VERSION" value="5"/>
    <add key="connectionOfDatabaseEmre"/><!--This is my database connection string-->
 
  </appSettings>

  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <pages clientIDMode="AutoID"/>
    <globalization enableClientBasedCulture="false" enableBestFitResponseEncoding="false" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  

</configuration>
